# Backblaze B2 (S3 Compatible) Configuration Template
VITE_AWS_ACCESS_KEY_ID=
VITE_AWS_SECRET_ACCESS_KEY=
VITE_AWS_REGION=us-east-005
VITE_AWS_BUCKET_NAME=
VITE_AWS_ENDPOINT=https://s3.us-east-005.backblazeb2.com
